# Streamlit main
streamlit==1.27.0

# Data processing
numpy==1.26.0
pandas==2.1.1
scipy==1.11.1

# Plotting
plotly==6.0.0

# Time series forecasting
prophet==1.2.0

# Computer vision
opencv-python-headless==4.8.1.78  # use headless for Cloud

# Optional dependencies for Streamlit display
rich==14.1.2
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2

# Upgrade pip to avoid install issues
pip==25.2
